<div class="carousel cycle" id="carousel-gauche">
  <div class="carousel-inner">
    <div class="item active cccCarouselImg">
      <img src="images/photos/web/2012/20120331-Parcours%20du%20coeur-00001.jpg" alt="Parcours%20du%20coeur-00001"/>

      <div class="carousel-caption">
        <p>Parcours du coeur 31/03/2012</p>
      </div>
    </div>
    <div class="item cccCarouselImg">
      <img src="images/photos/web/2012/20120331-Parcours%20du%20coeur-00002.jpg" alt="Parcours%20du%20coeur-00002"/>

      <div class="carousel-caption">
        <p>Parcours du coeur 31/03/2012</p>
      </div>
    </div>
    <div class="item cccCarouselImg">
      <img src="images/photos/web/2012/20120331-Parcours%20du%20coeur-00003.jpg" alt="Parcours%20du%20coeur-00003"/>

      <div class="carousel-caption">
        <p>Parcours du coeur 31/03/2012</p>
      </div>
    </div>
    <div class="item cccCarouselImg">
      <img src="images/photos/web/2012/20120331-Parcours%20du%20coeur-00004.jpg" alt="Parcours%20du%20coeur-00004"/>

      <div class="carousel-caption">
        <p>Parcours du coeur 31/03/2012</p>
      </div>
    </div>
    <div class="item cccCarouselImg">
      <img src="images/photos/web/2012/20120331-Parcours%20du%20coeur-00005.jpg" alt="Parcours%20du%20coeur-00005"/>

      <div class="carousel-caption">
        <p>Parcours du coeur 31/03/2012</p>
      </div>
    </div>
    <div class="item cccCarouselImg">
      <img src="images/photos/web/2012/20120331-Parcours%20du%20coeur-00006.jpg" alt="Parcours%20du%20coeur-00006"/>

      <div class="carousel-caption">
        <p>Parcours du coeur 31/03/2012</p>
      </div>
    </div>
    <div class="item cccCarouselImg">
      <img src="images/photos/web/2012/20120331-Parcours%20du%20coeur-00007.jpg" alt="Parcours%20du%20coeur-00007"/>

      <div class="carousel-caption">
        <p>Parcours du coeur 31/03/2012</p>
      </div>
    </div>
    <div class="item cccCarouselImg">
      <img src="images/photos/web/2012/20120331-Parcours%20du%20coeur-00008.jpg" alt="Parcours%20du%20coeur-00008"/>

      <div class="carousel-caption">
        <p>Parcours du coeur 31/03/2012</p>
      </div>
    </div>
    <div class="item cccCarouselImg">
      <img src="images/photos/web/2012/20120331-Parcours%20du%20coeur-00009.jpg" alt="Parcours%20du%20coeur-00009"/>

      <div class="carousel-caption">
        <p>Parcours du coeur 31/03/2012</p>
      </div>
    </div>
    <div class="item cccCarouselImg">
      <img src="images/photos/web/2012/20120331-Parcours%20du%20coeur-00010.jpg" alt="Parcours%20du%20coeur-00010"/>

      <div class="carousel-caption">
        <p>Parcours du coeur 31/03/2012</p>
      </div>
    </div>
    <div class="item cccCarouselImg">
      <img src="images/photos/web/2012/20120331-Parcours%20du%20coeur-00011.jpg" alt="Parcours%20du%20coeur-00011"/>

      <div class="carousel-caption">
        <p>Parcours du coeur 31/03/2012</p>
      </div>
    </div>
    <div class="item cccCarouselImg">
      <img src="images/photos/web/2012/20120331-Parcours%20du%20coeur-00012.jpg" alt="Parcours%20du%20coeur-00012"/>

      <div class="carousel-caption">
        <p>Parcours du coeur 31/03/2012</p>
      </div>
    </div>
    <div class="item cccCarouselImg">
      <img src="images/photos/web/2012/20120331-Parcours%20du%20coeur-00013.jpg" alt="Parcours%20du%20coeur-00013"/>

      <div class="carousel-caption">
        <p>Parcours du coeur 31/03/2012</p>
      </div>
    </div>
  </div>
<a class="carousel-control left" href="#carousel-gauche" data-slide="prev">&lsaquo;</a>
<a class="carousel-control right" href="#carousel-gauche" data-slide="next">&rsaquo;</a>
</div>
