<div class="carousel cycle" id="carousel-droit">
  <div class="carousel-inner">
    <div class="item cccCarouselImg active">
      <img src="images/photos/web/2012/20120226-Rallye%20des%20retrouvailles-00001.jpg" alt="Rallye des retrouvailles-00001"/>

      <div class="carousel-caption">
        <p>Rallye des retrouvailles 26/02/2012</p>
      </div>
    </div>
    <div class="item cccCarouselImg">
      <img src="images/photos/web/2012/20120226-Rallye%20des%20retrouvailles-00002.jpg" alt="Rallye des retrouvailles-00002"/>

      <div class="carousel-caption">
        <p>Rallye des retrouvailles 26/02/2012</p>
      </div>
    </div>
    <div class="item cccCarouselImg">
      <img src="images/photos/web/2012/20120226-Rallye%20des%20retrouvailles-00003.jpg" alt="Rallye des retrouvailles-00003"/>

      <div class="carousel-caption">
        <p>Rallye des retrouvailles 26/02/2012</p>
      </div>
    </div>
    <div class="item cccCarouselImg">
      <img src="images/photos/web/2012/20120226-Rallye%20des%20retrouvailles-00004.jpg" alt="Rallye des retrouvailles-00004"/>

      <div class="carousel-caption">
        <p>Rallye des retrouvailles 26/02/2012</p>
      </div>
    </div>
    <div class="item cccCarouselImg">
      <img src="images/photos/web/2012/20120226-Rallye%20des%20retrouvailles-00005.jpg" alt="Rallye des retrouvailles-00005"/>

      <div class="carousel-caption">
        <p>Rallye des retrouvailles 26/02/2012</p>
      </div>
    </div>
    <div class="item cccCarouselImg">
      <img src="images/photos/web/2012/20120226-Rallye%20des%20retrouvailles-00006.jpg" alt="Rallye des retrouvailles-00006"/>

      <div class="carousel-caption">
        <p>Rallye des retrouvailles 26/02/2012</p>
      </div>
    </div>
    <div class="item cccCarouselImg">
      <img src="images/photos/web/2012/20120226-Rallye%20des%20retrouvailles-00007.jpg" alt="Rallye des retrouvailles-00007"/>

      <div class="carousel-caption">
        <p>Rallye des retrouvailles 26/02/2012</p>
      </div>
    </div>
    <div class="item cccCarouselImg">
      <img src="images/photos/web/2012/20120318-BRM%20200%20km%20Longjumeau-00001.jpg" alt="BRM 200 km Longjumeau-00001"/>

      <div class="carousel-caption">
        <p>BRM 200 km Longjumeau 18/03/2012</p>
      </div>
    </div>
  </div>
<a class="carousel-control left" href="#carousel-droit" data-slide="prev">&lsaquo;</a>
<a class="carousel-control right" href="#carousel-droit" data-slide="next">&rsaquo;</a>
</div>
