<%= provide(:title, 'Tous les rendez-vous du CCC') %>
<h1>Tous les rendez-vous du CCC</h1>
<%= will_paginate @collection, :previous_label => t("Page précédente"), :next_label => t("Page suivante") %>
<div  class="row">
  <%= render @programmations %>
</div>
<%= will_paginate @collection, :previous_label => t("Page précédente"), :next_label => t("Page suivante") %>
